<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Register</h1>
      <form class="" action="upload_claim.html" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="your name">

        <br><label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" placeholder="lastname">

        <br><label for="email">Email:</label><br>
        <input type="email" id='email' name="email" placeholder="youremail@email.com">

        <br><label for="psw">Password</label><br>
        <input type="password" id='psw' name='psw'>



        <br><br><input type="submit" value="Submit">
      </form>
      <p>You can listen some music while completing the form</p>
      <br>
      <iframe width="560" height="315"
              src="https://www.youtube.com/embed/1vwfaemreeI"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              picture-in-picture" allowfullscreen>
      </iframe>
  </body>
</html>
