<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TheKitchen</title>
  </head>
  <body>
    <h1>TheKitchen</h1>
    <h2>A Place for us to interact</h2>
    <p> <del>Like instagram</del></p>
    <h5>Interact <strong>honestly</strong></h5>
    <ol>
      <li>Register</li>
      <li>Create a KitchenSpace</li>
      <li>Invite other people</li>
      <li>be yourself</li>
    </ol>
    <p>Let's share <b>spontaneous</b> content</p>
    <a href="http://ilbertocf.pythonanywhere.com/">pythonanywhere</a>
    <br>
    <table>
      <tr>
        <th>Column one</th>
        <th>Column two</th>
        <th>Column three</th>
      </tr>
      <tr>
        <th>Family</th>
        <th>Work</th>
        <th>Friends</th>
      </tr>
      <tr>
        <th>Daily Challenges</th>
        <th>Spontaneous content</th>
        <th>Transparent algorithm</th>
      </tr>
    </table>


    <a href="http://ilbertocf.pythonanywhere.com/">
      <img src="https://st.focusedcollection.com/9163412/i/1800/focused_125210828-stock-photo-happy-people-cooking-together.jpg "
      alt="not pic yet"
      width="400"
      height="400">
    </a>

  </body>
</html>
